<div class="super_container">

	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url(images/contact.jpg)"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li><a href="/">Strona główna</a></li>
										<li>Logowanie</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
          <div class="signup_info">
              <div class="signup_section">
                <div class="signup_section_title">Nie masz jeszcze konta ?</div>
                  <div class="button">
                    <a href="sign-up"><span>Zarejestruj się</span></a>
                </div>
              </div>
            </div>
				</div>

				<!-- Contact Info -->
				<div class="col-lg-6 contact_col">
          	<div class="get_in_touch">
						<div class="section_title">Logowanie</div>
						<div class="section_subtitle">Uzupełnij pola formularza</div>
						<div class="contact_form_container">
							<form method="POST" action="/sign-in" id="signin_form" class="contact_form">
								<div class="row">
									<div class="col-xl-12">
										<!-- Name -->
										<label for="contact_name">Login*</label>
										<input type="text" name="username" class="contact_input" required="required">
								  </div>
								</div>
                <div class="row">
									<div class="col-xl-12">
										<!-- Name -->
										<label for="contact_name">Hasło*</label>
										<input type="password" name="password" class="contact_input" required="required">
								  </div>
								</div>
								<button class="button contact_button"><span>Zaloguj</span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
