@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');
.signup_section_title {
  font-size: 18px;
  font-weight: 500;
  color: #1b1b1b;
  text-align: center;
}
.contact_col .section_title,
.contact_col .section_subtitle {
  text-align: center;
}

.signup_section .button {
  display: block;
  margin: 100px auto;
}

.contact_button {
  float: right;
}